@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CustomFont';
  src: url('SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'CustomFont', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
