* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 700px;
    height: 80vh;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.facebook-text {
    color: #65676B;
    font-size: 14px;
    margin-bottom: 6px;
    align-self: flex-start;
}

.title {
    font-weight: bold;
    font-size: 22px;
    text-align: left;
    width: 100%;
    max-width: 400px;
    margin-bottom: 8px;
    align-self: flex-start;
}

.subtitle {
    color: #4B4F56;
    font-size: 15px;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    max-width: 400px;
    align-self: flex-start;
}

.illustration {
    margin: 20px 0 30px;
}

.input-box {
    width: 100%;
    /* max-width: 400px; */
    margin-bottom: -6px;
}

.input-box input {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border: 1px solid #CBD2D9;
    border-radius: 12px;
}

.timer {
    font-size: 14px;
    color: red;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    max-width: 400px;
}

.button {
    width: 100%;
    max-width: 400px;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 22px;
    margin-bottom: 16px;
    cursor: not-allowed;
    opacity: 0.4;
    border: none;
    background-color: #0064E0;
    color: white;
}

.button-alt {
    width: 100%;
    max-width: 400px;
    padding: 14px;
    font-size: 16px;
    font-weight: normal;
    border-radius: 22px;
    border: 1px solid #0064E0;
    background-color: white;
    color: #0064E0;
    cursor: pointer;
}

.loading-spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-right: 10px;
    
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .container {
        height: 95vh;
        padding: 0px 15px;
        max-width: 400px;

    }
    
    }
    @media (min-width: 768px) {
  
    .subtitle{
        width: 85%;
    max-width: 500px;
    }
    }
}